//====================================================|
// Functions: Z-INDEXES

// -------------------------| Generator
@function z-index($map, $keys) {
  $found-index: null;

  @each $key in $keys {
    @if (type-of($map) == 'map') {
      $found-index: index(map-keys($map), $key);
      $map: map-get($map, $key);
    } @else {
      $found-index: index($map, $key);
    }
  }

  @return $found-index;
}

// -------------------------| Server
@function z($map, $keys...) {
  @return z-index($map, $keys);
}
