// ===================================================|
// Functions: UNITS

// -------------------------| Strip unit
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// -------------------------| Get em/rem unit
@function em($num, $font-size: false) {
  @return get-font-unit($num, $font-size, em);
}

@function rem($num, $font-size: false) {
  @return get-font-unit($num, $font-size, rem);
}

@function get-font-unit($num, $font-size, $unit) {
  $fs: 10px;

  @if $font-size {
    $fs: $font-size;
  }
  @else if $base-html-font-size { // make sure to define this variable on your own
    $fs: $base-html-font-size;
  }

  @return #{strip-unit($num) / strip-unit($fs)}#{$unit};
}

// -------------------------| Get screen percent
@function get-screen-percent($width, $screen) {
  @return unquote('#{$width * 100 / $screen}%');
}
