// ===================================================|
// Mixins: TYPOGRAPHY

// -------------------------| Font smoothing
@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

// -------------------------| Text uppercase
@mixin text-uppercase() {
  text-transform: uppercase;
  -moz-font-feature-settings: 'case';
  -webkit-font-feature-settings: 'case';
  font-feature-settings: 'case' on;
}

// -------------------------| Selection
@mixin selection($col) {
  $bgr: if($col != transparent, rgba($col, 0.5), rgba(0, 0, 0, 0));

  &::-moz-selection {
    background: $bgr;
  }

  &::selection {
    background: $bgr;
  }
}
